In [ ]:
#exercise_1
fruits = ['apple','orange','banana','pomegranate','date']
print(fruits[2])

banana

In [ ]:
#exercise_2
a = [1,2,3,4,5]
b = [6,7,8,9,0]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [21]:
#exercise_3
list = [-10,0,10,20,30,40,50,60,70,80,90]
new_list = [list[0],list[len(list)//2],list[len(list) - 1]]
print(new_list)

[-10, 40, 90]

In [3]:
#exercise_4
movies_list = ['The Adventures of Tintin','Jumanji (1995)', '1000 Words','80 Days Around the World','Three Idiots']
movies_tuple = tuple(movies_list)
print(movies_list)
print(movies_tuple)

['The Adventures of Tintin', 'Jumanji (1995)', '1000 Words', '80 Days Around the World', 'Three Idiots']
('The Adventures of Tintin', 'Jumanji (1995)', '1000 Words', '80 Days Around the World', 'Three Idiots')

In [ ]:
#exercise_5
cities = ['Tashkent', 'Astana', 'Bishkek', 'Dushanbe', 'Ashgabat', 'Baku', 'Paris', 'Moscow', 'London', 'Cairo']
cities.count('Paris')

1

In [12]:
#exercise_6
list1 = [100,200,300,400,500,600,700,800,900]
list2 = list1
print(list1)
print(list2)

[100, 200, 300, 400, 500, 600, 700, 800, 900]
[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [7]:
#exercise_7
sample_list = ['a','c','e','g','i','k','m','o']
first_item = sample_list[0]
sample_list.reverse()
last_item = sample_list[0]
sample_list.reverse()
sample_list[0] = last_item
sample_list[len(sample_list) - 1] = first_item
print(sample_list)

['o', 'c', 'e', 'g', 'i', 'k', 'm', 'a']

In [12]:
#exercise_8
sample_tuple = (1,2,3,4,5,6,7,8,9,10)
sliced_tuple = sample_tuple[2:7]
print(sliced_tuple)

(3, 4, 5, 6, 7)